{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container h-100">
        <div class="row h-100">
            <div class="col-12 col-md-6 my-auto">
                <h1 class="display-4 logo-font text-white">
                    Your Dreams are Made Here
                </h1>
                <div class="my-5">
                    <h4>
                        <a href="{% url 'products' %}" class="shop-now-button btn btn-lg rounded-0 text-uppercase py-3">Shop Now</a>
                    </h4>
                </div>
            </div>
            <div class="col-12 col-md-6 my-auto">
                <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">
                      <div class="carousel-item active">
                            <a href="/products/8/">
                                <img class="d-block w-100 rounded-carousel shadow-lg" src="/media/water-nature-horizon-sky-air-lake-1327741-pxhere.com_TkExcn8.jpg" alt="Serene Journey">
                                <div class="carousel-caption d-block">
                                    <h2 class="logo-font thick-font">Weightless Sleep</h2>
                                        <h4 class=""><strong></strong>Float through a Peaceful Atmosphere with <i>Serene Journey.</i></strong></h4>
                                </div>
                            </a>
                      </div>
                      <div class="carousel-item">
                            <a href="/products/36/">
                                <img class="d-block w-100 rounded-carousel shadow-lg" src="/media/atmosphere-vehicle-space-aurora-aerial-view-aurora-boreali-22859-pxhere.com.jpg" alt="First slide">
                                <div class="carousel-caption d-block">
                                    <h2 class="logo-font thick-font">Out of this World</h2>
                                        <h4 class=""><strong></strong>Dream of Adventures in Outer Space in <i>Stationary Orbit.</i></strong></h4>
                                </div>
                            </a>
                        </div>
                      <div class="carousel-item">
                            <a href="/products/5/">
                                <img class="d-block w-100 rounded-carousel shadow-lg" src="/media/fantasy-castle-fog-meadow-tree-bats-1460325-pxhere.com.jpg" alt="First slide">
                                <div class="carousel-caption d-block">
                                    <h2 class="logo-font thick-font">Medieval Mystery</h2>
                                        <h4 class=""><strong></strong>Explore a Magical Kingdom of Conundrums in <i>Twilight of Magick.</i></strong></h4>
                                </div>
                            </a>                     
                        </div>
                  </div>
            </div>
        </div>
    </div>
{% endblock %}