{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container h-100 pt-5">
        <div class="card">
            <div class="col-12 col-md-6 my-auto">
                <div class="card-header logo-font text-blue pb-1">
                    <h2>About Aisling Dreamshop</h2>
                </div>
                <div class="card-body">
                    <h5 class="card-title">Making Dreams a Reality since 2028</h5>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer mauris magna, vehicula at mi at, vulputate varius ante. Sed rutrum mi non mattis imperdiet. Sed ultrices lorem ac elementum fermentum. Maecenas aliquet augue.</p>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer mauris magna, vehicula at mi at, vulputate varius ante. Sed rutrum mi non mattis imperdiet. Sed ultrices lorem ac elementum fermentum. Maecenas aliquet augue.</p>
                        <hr>
                        <a href="/products/?category=scary-dream,adventure-dream,mystery-dream,atmospheric-dream" class="btn btn-blue">Shop Dreams</a>
                </div>
            </div>
            <div class="col-12 col-md-6 my-auto">
            </div>
        </div>
    </div>
{% endblock %}