<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="dreams-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Dreams
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="dreams-link">
                <a href="{% url 'products' %}?category=scary-dream,adventure-dream,mystery-dream,atmospheric-dream" class="dropdown-item">All Dreams</a>
                <a href="{% url 'products' %}?category=adventure-dream" class="dropdown-item">Adventure Dreams</a>
                <a href="{% url 'products' %}?category=mystery-dream" class="dropdown-item">Mystery Dreams</a>
                <a href="{% url 'products' %}?category=scary-dream" class="dropdown-item">Scary Dreams</a>
                <a href="{% url 'products' %}?category=atmospheric-dream" class="dropdown-item">Atmospheric Dreams</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="ingredients-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Ingriedients
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="ingredients-link">
                <a href="" class="dropdown-item">By Price</a>
                <a href="" class="dropdown-item ">By Rating</a>
                <a href="" class="dropdown-item ">By Category</a>
                <a href="" class="dropdown-item">All Products</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="equipment-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Equipment
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="equipment-link">
                <a href="" class="dropdown-item">Bed &amp; Bath</a>
                <a href="" class="dropdown-item">Kitchen &amp; Dining</a>
                <a href="" class="dropdown-item">All Homeware</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Everything
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="{% url 'products' %}" class="dropdown-item">All Products</a>
                <a href="" class="dropdown-item">New Arrivals</a>
                <a href="" class="dropdown-item">Deals</a>
                <a href="" class="dropdown-item">Clearance</a>
            </div>
        </li>
    </ul>
</div>