<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item d-block d-md-none">
            <a class="logo-font font-weight-normal nav-link text-blue mr-5" href="{% url 'home' %}" id="home-link">
                <i class="fas fa-house-user"></i> Home
            </a>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-normal nav-link text-blue mr-5" href="#" id="dreams-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-moon"></i> Dreams
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="dreams-link">
                <a href="{% url 'products' %}?category=scary-dream,adventure-dream,mystery-dream,atmospheric-dream" class="dropdown-item">All Dreams</a>
                <a href="{% url 'products' %}?category=adventure-dream" class="dropdown-item">Adventure Dreams</a>
                <a href="{% url 'products' %}?category=mystery-dream" class="dropdown-item">Mystery Dreams</a>
                <a href="{% url 'products' %}?category=scary-dream" class="dropdown-item">Scary Dreams</a>
                <a href="{% url 'products' %}?category=atmospheric-dream" class="dropdown-item">Atmospheric Dreams</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-normal nav-link text-blue mr-5" href="#" id="ingredients-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-mortar-pestle"></i> Ingriedients
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="ingredients-link">
                <a href="{% url 'products' %}?category=positive,neutral,negative" class="dropdown-item">All Ingredients</a>
                <a href="{% url 'products' %}?category=positive" class="dropdown-item">Positive</a>
                <a href="{% url 'products' %}?category=neutral" class="dropdown-item ">Neutral</a>
                <a href="{% url 'products' %}?category=negative" class="dropdown-item ">Negative</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-normal nav-link text-blue mr-5" href="#" id="equipment-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fab fa-usb"></i> Equipment
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="equipment-link">
                <a href="{% url 'products' %}?category=headgear,mixer,replay,shareware" class="dropdown-item">All Equipment</a>
                <a href="{% url 'products' %}?category=headgear" class="dropdown-item">Headgear</a>
                <a href="{% url 'products' %}?category=mixer" class="dropdown-item">Dream Mixer</a>
                <a href="{% url 'products' %}?category=replay" class="dropdown-item">Replay Device</a>
                <a href="{% url 'products' %}?category=shareware" class="dropdown-item">Shareware</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-normal nav-link text-blue mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-th-list"></i> Everything
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="{% url 'products' %}" class="dropdown-item">All Products</a>
                <a href="{% url 'products' %}?sort=category&direction=asc" class="dropdown-item ">By Category</a>
                <a href="{% url 'products' %}?sort=price&direction=asc" class="dropdown-item">By Price</a>
                <a href="{% url 'products' %}?sort=rating&direction=desc" class="dropdown-item ">By Rating</a>
                <!-- <a href="" class="dropdown-item">All Products</a>
                <a href="" class="dropdown-item">New Arrivals</a>
                <a href="" class="dropdown-item">Deals</a>
                <a href="" class="dropdown-item">Clearance</a> -->
            </div>
        </li>
        <li class="nav-item">
            <a class="logo-font font-weight-normal nav-link text-blue mr-5" href="{% url 'about' %}" id="about-link" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-question"></i> About
            </a>
        </li>
        <li class="nav-item">
            <a class="logo-font font-weight-normal nav-link text-blue mr-5" href="{% url 'updatenews' %}" id="about-link" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-paper-plane"></i> Updates
            </a>
        </li>
    </ul>
</div>