{% extends "base.html" %}
{% load crispy_forms_tags %}

{% load static %}

{% block page_header %}
<div class="container header-container">
  <div class="row">
    <div class="col"></div>
  </div>
</div>
{% endblock %}

{% block content %}
<div class="container pt-5 bg-white">
  <div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header logo-font text-blue pt-4">
                <h2>Aisling Dreamshop Product Updates</h2>
            </div>
            <div class="card-body">
                <h3 class="card-title text-gold script-font">The Latest News - Tell Us What You Think!</h3>
                <p class="card-text">xxxxxxxxx</p>
                <hr>
                <a href="/products/?category=scary-dream,adventure-dream,mystery-dream,atmospheric-dream"
                    class="shop-now-button btn btn-lg rounded-0 text-uppercase py-3"><i class="fas fa-moon"></i>
                    Shop Dreams</a>
            </div>
        </div>
    </div>
</div>
  {% endblock %}