{% load static %}

<!doctype html>
<html lang="en">
  <head>

    {% block meta %}
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% endblock %}

    {% block extra_meta %}
    {% endblock %}

    {% block corecss %}
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Nunito:wght@200;400;900&family=Work+Sans:ital,wght@0,900;1,900&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% endblock %}

    {% block extra_css %}
    {% endblock %}

    {% block corejs %}
        <script src="https://kit.fontawesome.com/e32484071b.js" crossorigin="anonymous"></script>
        <script
        src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
        crossorigin="anonymous"></script>      
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
        <!-- Stripe -->
        <script src="https://js.stripe.com/v3/"></script>
    {% endblock %}

    {% block extra_js %}
    {% endblock %}

    <title>Aisling Dreamshop {% block extra_title %}{% endblock %}</title>
  </head>
  <body>

    <header class="container-fluid fixed-top">
        <div id="topnav" class="row bg-white pt-lg-2 d-none d-lg-flex">
            <div class="col-12 col-lg-6 my-auto py-1 py-lg-0 text-center text-lg-left">
                <a href="{% url 'home' %}" class="nav-link main-logo-link">
                    <h2 class=" font-weight-normal my-0"><span class="text-gold script-font spaced-l" style="font-size: 1.2em">Aisling </span><span class="text-blue logo-font">DreamShop&#x2122;</span></h2>
                </a>
                <p class="text-gold pl-3 font-italic spaced-m d-none d-lg-block d-xl-block">
                    The Very Best Dreams Crafted in Ireland
                </p>
            </div>
            <div class="col-12 col-lg-3 my-auto py-1 py-lg-0">
                <!-- <h6 class="text-blue text-center font-italic spaced-m">
                    The Very Best Dreams Crafted in Ireland
                </h6> -->
                <form method="GET" action="{% url 'products'%}">
                    <div class="input-group rounded">
                        <input class="form-control border border-black btn-selector" type="text" name="q" placeholder="Search the Dreamshop">
                        <span class="input-group-text border-0 text-blue bg-white" id="search-addon">
                          <i class="fas fa-search"></i>
                        </span>
                      </div>
                    <!-- <div class="input-group w-100">
                        <input class="form-control border border-black rounded-0" type="text" name="q" placeholder="Search our site">
                        <div class="input-group-append">
                            <button class="form-control btn btn-blue border border-black rounded-0" type="submit">
                                <span class="icon">
                                    <i class="fas fa-search"></i>
                                </span>
                            </button>
                        </div>
                    </div> -->
                </form>
            </div>
            <div class="col-12 col-lg-3 my-auto py-1 py-lg-0">
                <ul class="list-inline list-unstyled text-center text-lg-right my-0">
                    <li class="list-inline-item dropdown">
                        <a class="text-blue nav-link" href="#" id="user-options" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <div class="text-center">
                                <div><i class="fas fa-bed fa-lg"></i></div>
                                <p class="my-0">My Account</p>
                            </div>
                        </a>
                        <div class="dropdown-menu border-0" aria-labelledby="user-options">
                            {% if request.user.is_authenticated %}
                                {% if request.user.is_superuser %}
                                <a href="{% url 'add_product' %}" class="dropdown-item text-blue"><i class="fas fa-boxes"></i> Product Management</a>
                                {% endif %}
                                <a href="{% url 'profile' %}" class="dropdown-item text-blue"><i class="fas fa-user-alt"></i> My Profile</a>
                                <a href="{% url 'account_logout' %}" class="dropdown-item text-blue"><i class="fas fa-sign-out-alt"></i> Logout</a>
                            {% else %}
                                <a href="{% url 'account_signup' %}" class="dropdown-item text-blue"><i class="fas fa-edit"></i> Sign Up</a>
                                <a href="{% url 'account_login' %}" class="dropdown-item text-blue"><i class="fas fa-sign-in-alt"></i> Log In</a>
                            {% endif %}
                        </div>
                    </li>
                    <li class="list-inline-item">
                        <a class="{% if grand_total %}text-info font-weight-normal{% else %}text-blue{% endif %} nav-link" href="{% url 'view_bag' %}">
                            <div class="text-center">
                                <div><i class="fas fa-shopping-basket fa-lg"></i></div>
                                <p class="my-0">
                                    {% if grand_total %}
                                        €{{ grand_total|floatformat:2 }}
                                    {% else %}
                                        €0.00
                                    {% endif %}
                                </p>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>        
            <div class="col-12 col-lg-4 my-auto py-1 py-lg-0"></div>
        </div>
        <div class="row bg-white">
            <nav class="navbar navbar-expand-lg navbar-light w-100">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-nav" aria-controls="main-nav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                {% include 'includes/mobile-top-header.html' %}
                {% include 'includes/main-nav.html' %}
            </nav>
        </div>
        <div id="delivery-banner" class="row text-center">
            <div class="col bg-gold text-white delivery-middle">
                <h4 class="logo-font my-1 spaced-l">Free delivery on orders over €{{ free_delivery_threshold }}!</h4>    
            </div>   
        </div>
    </header>


    {% if messages %}
    <div class="message-container">
        {% for message in messages %}
            {% with message.level as level %}
                {% if level == 40 %}
                    {% include 'includes/toasts/toast_error.html' %}
                {% elif level == 30 %}
                    {% include 'includes/toasts/toast_warning.html' %}
                {% elif level == 25 %}
                    {% include 'includes/toasts/toast_success.html' %}
                {% else %}
                    {% include 'includes/toasts/toast_info.html' %}
                {% endif %}
            {% endwith %}
        {% endfor %}
    </div>
{% endif %}

    {% block page_header %}
    {% endblock %}

    {% block content %}
    {% endblock %}

    {% block postloadjs %}
    <script type="text/javascript">
        $('.toast').toast('show');
    </script>
    {% endblock %}

  </body>

  <footer class="footer-main mt-5 bg-white rounded-top">
   <div class="col-12 d-flex justify-content-center footer-menu p-3">
    <p>
        &#169; 2021 Aisling Dreamshop Website is for educational purposes only.
        <em>We can't buy, sell or create dreams.... yet!</em>
    </p>
   </div>
</footer>
</html>