{% extends "base.html" %}
{% load crispy_forms_tags %}

{% load static %}

{% block page_header %}
<div class="container header-container">
  <div class="row">
    <div class="col"></div>
  </div>
</div>
{% endblock %}

{% block content %}
<div class="container pt-5 bg-white">
  <div class="row">
    <div class="col-12 col-xl-3">
      <div class="card">
        <div class="card-header logo-font text-blue pt-4">
          <h2>About Aisling Dreamshop</h2>
        </div>
        <div class="card-body">
          <h3 class="card-title text-gold script-font">Making Dreams a Reality</h3>
          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer mauris magna,
            vehicula at mi at, vulputate varius ante. Sed rutrum mi non mattis imperdiet. Sed ultrices lorem
            ac elementum fermentum. Maecenas aliquet augue.</p>
          <p class="card-text">This website is for Educational Purposes only.</p>
          <hr>
          <a href="/products/?category=scary-dream,adventure-dream,mystery-dream,atmospheric-dream"
            class="shop-now-button btn btn-lg rounded-0 text-uppercase py-3"><i class="fas fa-moon"></i>
            Shop Dreams</a>
        </div>
      </div>
    </div>

    <div class="col-12 col-xl-9 bg-white">
      <div class="row">
        <!-- Blog Entries Column -->
        <div class="col-md-12 mt-3 left">
          <div class="card pr-2">
            <div class="card-header logo-font text-blue ">
              <h2>Latest Product Updates</h2>
            </div>
            <div class="card-body">
              <h3 class="card-title text-gold script-font">The Latest News - Tell Us What You Think!</h3>
            </div>
          </div>
        </div>
        {% for post in post_list %}
        <div class="card mb-4">
          <div class="card-body">
            <h2 class="card-title">{{ post.title }}</h2>
            <p class="card-text text-muted h6">{{ post.author }} | {{ post.created_on}} </p>
            <p class="card-text">{{post.content|slice:":200" }}</p>
            <a href="{% url 'post_detail' post.slug  %}" class="btn btn-sm btn-blue rounded-0 text-uppercase py-3"><i class="fas fa-eye"></i> Read
              More</a>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
{% endblock %}