{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container h-100 pt-5">
        <div class="card">
            <div class="col-12 col-md-6 my-auto">
                <div class="card-header logo-font text-blue pt-4">
                    <h2>About Aisling Dreamshop</h2>
                </div>
                <div class="card-body">
                    <h3 class="card-title text-gold script-font">Making Dreams a Reality since 2028</h3>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer mauris magna, vehicula at mi at, vulputate varius ante. Sed rutrum mi non mattis imperdiet. Sed ultrices lorem ac elementum fermentum. Maecenas aliquet augue.</p>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer mauris magna, vehicula at mi at, vulputate varius ante.</p>
                        <hr>
                        <a href="/products/?category=scary-dream,adventure-dream,mystery-dream,atmospheric-dream" class="shop-now-button btn btn-lg rounded-0 text-uppercase py-3"><i class="fas fa-moon"></i> Shop Dreams</a>
                </div>
            </div>
            <div class="col-12 col-md-6 my-auto">
            </div>
        </div>
    </div>
{% endblock %}